# Run All Services
services:
  # Run Service
  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8501:8501
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./src:/app/src
